<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        button {
            font-size: 16px;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<button onclick="location.href='/add-room'">Добавить комнату</button>
<button onclick="location.href='/add-client'">Добавить клиента</button>
<button onclick="location.href='/add-booking'">Добавить бронирование</button>

</body>
</html>